node_modules/
dist/
build/
.env
.env.local
__pycache__/
*.pyc
.venv/
venv/
*.log
.DS_Store

data/saved_screenshots/

MCP/saved_scripts/
MCP/saved_playwright_scripts/
MCP/saved_har/
MCP/saved_txt/
MCP/screenshot.png
data/saved_playwright_scripts/
data/saved_scripts/
data/test_reports/

MCP/
